In [2]:
import numpy as np
import pandas as pd

file_train=r'/Users/Dell/Documents/rg_train.csv'
file_test=r'/Users/Dell/Documents/rg_test.csv'

rg_train=pd.read_csv(file_train)
rg_test=pd.read_csv(file_test)
rg_test.head()

rg_train['data']='train'
rg_test['data']='test'
rg_test['Revenue.Grid']=np.nan
rg_test=rg_test[rg_train.columns]

rg_train.shape
rg_train.shape

rg_all=pd.concat([rg_train,rg_test],axis=0)

rg_all.columns

rg_all.select_dtypes(['object']).columns

rg_all.head()

rg_all['children'].value_counts()

rg_all['children']=np.where(rg_all['children']=='Zero',0,rg_all['children'])
rg_all['children']=np.where(rg_all['children'].str[:1]=='4',4,rg_all['children'])
rg_all['children']=pd.to_numeric(rg_all['children'],errors='coerce')

rg_all.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [3]:
rg_all['Revenue.Grid']=(rg_all['Revenue.Grid']==1).astype(int)
rg_all['Revenue.Grid'].value_counts()

0    9292
1     863
Name: Revenue.Grid, dtype: int64

In [4]:
rg_all.select_dtypes(['object']).columns

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region', 'data'],
      dtype='object')

In [5]:
rg_all['family_income'].value_counts(dropna=False)

>=35,000             2517
<27,500, >=25,000    1227
<30,000, >=27,500     994
<25,000, >=22,500     833
<20,000, >=17,500     683
<12,500, >=10,000     677
<17,500, >=15,000     634
<15,000, >=12,500     629
<22,500, >=20,000     590
<10,000, >= 8,000     563
< 8,000, >= 4,000     402
< 4,000               278
Unknown               128
Name: family_income, dtype: int64

In [8]:
k=rg_all['family_income'].str.split('>=',expand=True)
k

              0       1
0                35,000
1     <12,500,   10,000
2                35,000
3                35,000
4     <27,500,   25,000
5     <25,000,   22,500
6     <25,000,   22,500
7     <15,000,   12,500
8     <17,500,   15,000
9     <27,500,   25,000
10    <27,500,   25,000
11    <27,500,   25,000
12    <15,000,   12,500
13               35,000
14               35,000
15    <27,500,   25,000
16    <22,500,   20,000
17    <22,500,   20,000
18    <25,000,   22,500
19    <30,000,   27,500
20               35,000
21    <25,000,   22,500
22               35,000
23      < 4,000    None
24    <25,000,   22,500
25               35,000
26    <27,500,   25,000
27               35,000
28               35,000
29    <25,000,   22,500
...         ...     ...
2001  <25,000,   22,500
2002             35,000
2003  <15,000,   12,500
2004  <17,500,   15,000
2005             35,000
2006  <17,500,   15,000
2007             35,000
2008             35,000
2009  <15,000,   12,500
2010  <25,000,   22,500
2011  <15,000,   12,500
2012  <22,500,   20,000
2013  <30,000,   27,500
2014  <17,500,   15,000
2015             35,000
2016  <20,000,   17,500
2017  <15,000,   12,500
2018             35,000
2019             35,000
2020  <12,500,   10,000
2021    < 4,000    None
2022  <20,000,   17,500
2023  <30,000,   27,500
2024  <17,500,   15,000
2025             35,000
2026  <30,000,   27,500
2027  <30,000,   27,500
2028  < 8,000,    4,000
2029  <27,500,   25,000
2030             35,000

[10155 rows x 2 columns]

In [10]:
print(k[0].shape)
k[1].shape

(10155,)

(10155,)

In [13]:
k[0]=k[0].str.replace('<','')
k[1]=k[1].str.replace('<','')
k[0]=k[0].str.replace(',','')
k[1]=k[1].str.replace(',','')
k

           0      1
0             35000
1     12500   10000
2             35000
3             35000
4     27500   25000
5     25000   22500
6     25000   22500
7     15000   12500
8     17500   15000
9     27500   25000
10    27500   25000
11    27500   25000
12    15000   12500
13            35000
14            35000
15    27500   25000
16    22500   20000
17    22500   20000
18    25000   22500
19    30000   27500
20            35000
21    25000   22500
22            35000
23      4000   None
24    25000   22500
25            35000
26    27500   25000
27            35000
28            35000
29    25000   22500
...      ...    ...
2001  25000   22500
2002          35000
2003  15000   12500
2004  17500   15000
2005          35000
2006  17500   15000
2007          35000
2008          35000
2009  15000   12500
2010  25000   22500
2011  15000   12500
2012  22500   20000
2013  30000   27500
2014  17500   15000
2015          35000
2016  20000   17500
2017  15000   12500
2018          35000
2019          35000
2020  12500   10000
2021    4000   None
2022  20000   17500
2023  30000   27500
2024  17500   15000
2025          35000
2026  30000   27500
2027  30000   27500
2028   8000    4000
2029  27500   25000
2030          35000

[10155 rows x 2 columns]

In [17]:
k.loc[k[1].isnull(),1]=4000

In [20]:
k.loc[k[0]=='',0]=35000
k

           0      1
0      35000  35000
1     12500   10000
2      35000  35000
3      35000  35000
4     27500   25000
5     25000   22500
6     25000   22500
7     15000   12500
8     17500   15000
9     27500   25000
10    27500   25000
11    27500   25000
12    15000   12500
13     35000  35000
14     35000  35000
15    27500   25000
16    22500   20000
17    22500   20000
18    25000   22500
19    30000   27500
20     35000  35000
21    25000   22500
22     35000  35000
23      4000   4000
24    25000   22500
25     35000  35000
26    27500   25000
27     35000  35000
28     35000  35000
29    25000   22500
...      ...    ...
2001  25000   22500
2002   35000  35000
2003  15000   12500
2004  17500   15000
2005   35000  35000
2006  17500   15000
2007   35000  35000
2008   35000  35000
2009  15000   12500
2010  25000   22500
2011  15000   12500
2012  22500   20000
2013  30000   27500
2014  17500   15000
2015   35000  35000
2016  20000   17500
2017  15000   12500
2018   35000  35000
2019   35000  35000
2020  12500   10000
2021    4000   4000
2022  20000   17500
2023  30000   27500
2024  17500   15000
2025   35000  35000
2026  30000   27500
2027  30000   27500
2028   8000    4000
2029  27500   25000
2030   35000  35000

[10155 rows x 2 columns]

In [18]:
print(k.loc[k[0]=="",0].shape)

k[1].shape

(2517,)

(10155,)

In [21]:
k.astype(float)

ValueError: could not convert string to float: 'Unknown'

In [202]:
cat_vars=rg_all.select_dtypes(['object']).columns
cat_vars

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region', 'data'],
      dtype='object')

In [203]:
cat_vars=cat_vars[:-1]
cat_vars

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region'],
      dtype='object')

In [204]:
for col in cat_vars:
    dummy=pd.get_dummies(rg_all[col],drop_first=True,prefix=col)
    rg_all=pd.concat([dummy,rg_all],axis=1)
    del rg_all[col]
    
    print(col)

age_band
status
occupation
occupation_partner
home_status
family_income
self_employed
self_employed_partner
TVarea
gender
region

In [205]:
rg_all.head()
len(rg_all)

10155

In [206]:
rg_all.isnull().sum()

region_East Anglia                 0
region_East Midlands               0
region_Isle of Man                 0
region_North                       0
region_North West                  0
region_Northern Ireland            0
region_Scotland                    0
region_South East                  0
region_South West                  0
region_Unknown                     0
region_Wales                       0
region_West Midlands               0
gender_Male                        0
gender_Unknown                     0
TVarea_Border                      0
TVarea_Carlton                     0
TVarea_Central                     0
TVarea_Grampian                    0
TVarea_Granada                     0
TVarea_HTV                         0
TVarea_Meridian                    0
TVarea_Scottish TV                 0
TVarea_TV South West               0
TVarea_Tyne Tees                   0
TVarea_Ulster                      0
TVarea_Unknown                     0
TVarea_Yorkshire                   0
self_employed_partner_Yes          0
self_employed_Yes                  0
family_income_< 8,000, >= 4,000    0
                                  ..
age_band_26-30                     0
age_band_31-35                     0
age_band_36-40                     0
age_band_41-45                     0
age_band_45-50                     0
age_band_51-55                     0
age_band_55-60                     0
age_band_61-65                     0
age_band_65-70                     0
age_band_71+                       0
age_band_Unknown                   0
children                           0
year_last_moved                    0
Average.Credit.Card.Transaction    0
Balance.Transfer                   0
Term.Deposit                       0
Life.Insurance                     0
Medical.Insurance                  0
Average.A.C.Balance                0
Personal.Loan                      0
Investment.in.Mutual.Fund          0
Investment.Tax.Saving.Bond         0
Home.Loan                          0
Online.Purchase.Amount             0
Revenue.Grid                       0
Investment.in.Commudity            0
Investment.in.Equity               0
Investment.in.Derivative           0
Portfolio.Balance                  0
data                               0
Length: 96, dtype: int64

In [207]:
rg_all.select_dtypes(['object']).columns

Index(['data'], dtype='object')

In [208]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [209]:
rg_train=rg_all[rg_all['data']=='train']
rg_test=rg_all[rg_all['data']=='test']

In [210]:
del rg_train['data']

In [211]:
rg_test.drop(['Revenue.Grid','data'],axis=1,inplace=True)

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [212]:
rg_train1,rg_train2=train_test_split(rg_train,test_size=0.2,random_state=2)

In [213]:
x_train=rg_train1.drop(['Revenue.Grid'],axis=1)
y_train=rg_train1['Revenue.Grid']

In [214]:
logr=LogisticRegression(penalty='l1',class_weight='balanced',random_state=2)

In [215]:
logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l1', random_state=2,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [216]:
x_test=rg_train2.drop(['Revenue.Grid'],axis=1)

In [217]:
y_test=rg_train2['Revenue.Grid']
y_test.shape

(1625,)

In [218]:
prob_val=logr.predict_proba(x_test)[:,1]

In [219]:
roc_auc_score(y_test,prob_val)

0.9477382520860782

In [226]:
x_train=rg_train.drop('Revenue.Grid',axis=1)
y_train=rg_train['Revenue.Grid']

In [227]:
logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l1', random_state=2,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [250]:
test_score=logr.predict_proba(rg_test)[:,1]
test_score.shape
rg_train.shape
rg_test.shape

(2031, 94)

In [236]:
train_score=logr.predict_proba(x_train)[:,1]
real=y_train

In [237]:
cutoffs=np.linspace(.01,.99,100)

In [241]:
KS_all=[]
for cutoff in cutoffs:
    predicted=(train_score>cutoff).astype(int)
    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=FP+TN
    
    KS=(TP/P)-(FP/N)
    
    KS_all.append(KS)

In [243]:
 my_cutoff=cutoffs[KS_all==max(KS_all)][0]

In [244]:
my_cutoff

0.46535353535353535

In [247]:
test_classes=(test_score>my_cutoff).astype(int)
test_classes.shape

(2031,)

In [255]:
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge, Lasso

In [259]:
c_param=np.linspace(.01,99,100)

In [257]:
rg_train.reset_index(inplace=True,drop=True)
x_train=rg_train.drop('Revenue.Grid',axis=1)
y_train=rg_train['Revenue.Grid']

In [258]:
auc_score=[]
for c in c_param:
    logr=LogisticRegression(C=c,penalty='l1',class_weight='balanced',random_state=2)
    kf=KFold(n_splits=10)
    myauc=0
    
    for train,test in kf.split(x_train):
        logr.fit(x_train.loc[train],y_train[train])
        p=logr.predict(x_train.loc[test])
        myauc+=roc_auc_score(y_train[test],p)
    
    auc_10cv=myauc/10
    print(c,':',auc_10cv)
    auc_score.extend([auc_10cv])

0.1 : 0.9026913325438978
0.198998998998999 : 0.9033887637608953
0.297997997997998 : 0.9008998370174837
0.396996996996997 : 0.9003534313785879
0.495995995995996 : 0.8998034965545033
0.594994994994995 : 0.8988084788103821
0.693993993993994 : 0.8980532735445887
0.792992992992993 : 0.8976507251877474
0.891991991991992 : 0.8976494778939653
0.990990990990991 : 0.8968774786641897
1.08998998998999 : 0.8976254866917361
1.188988988988989 : 0.8956797478666066
1.287987987987988 : 0.8956793555497402
1.386986986986987 : 0.8955406592945391
1.485985985985986 : 0.8956866354306141
1.584984984984985 : 0.8949772103367841
1.683983983983984 : 0.8950069304594894
1.782982982982983 : 0.8950069304594894

KeyboardInterrupt:

In [ ]:
best_c=c_param[auc_score==max(auc_score)]
print('Value of C with max AUC score:',max(auc_score),' for 10 fold CV is :',best_c )